<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Model1" connectionString="data source=31.147.206.65;initial catalog=RPP2324_T06_DB;persist security info=True;user id=RPP2324_T06_User;password=o0]jR(8i;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>